.filter-code-order-supply-div {
  margin-bottom: 1rem;
  margin-left: 2rem;
  text-align: left;
}

.filter-code-order-supply-input {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 200px;
  font-size: large;
}

.filter-code-order-supply-label {
  font-size: large;
  width: 200px;
}