.filter-firm-div {
  margin-bottom: 1rem;
  margin-left: 2rem;
  text-align: left;
}

.filter-firm-input {
  margin-left: 1rem;
  width: 400px;
  height: 30px;
  font-size: large;
}

.filter-firm-label {
  font-size: large;
  width: 200px;
}