.filter-date-invoice-div {
  margin-bottom: 1rem;
  margin-left: 2rem;
  text-align: left;
}

.filter-date-invoice-input {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 200px;
  font-size: large;
}

.filter-date-invoice-label-begin {
  font-size: large;
  width: 200px;
}

.filter-date-invoice-label-end {
  font-size: large;
  width: 150px;
  margin-left: 5rem;
}