.find-wares-div {
/*    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: left;*/
}

.find-wares-input {
    margin-left: 1rem;
    margin-right: 10px !important;
    width: 800px;
}

.find-wares-label {
    font-size: large;
}

.find-wares-form {
    width: 900px;
    height: 700px;
}

.find-wares-error-panel {
    background: #f1b0b7;
    text-align: center;
    width: 900px;
}

.find-wares-input-panel{
    margin-bottom: 5px;
}