.rule-loyal-filter{
    display: flex;
    margin-bottom: 5px;
    margin-left: 5px;
    alignment: center;
}

.rule-loyal-button-apply {
    padding: 10px;
}

.name-rule-column {
    max-width: 400px;
    min-width: 400px;
}

.name-group-column {
    max-width: 250px;
    min-width: 250px;
}

.description-rule-column {
    max-width: 400px;
    min-width: 400px;
}
.template-rule-column{
    max-width: 200px;
    min-width: 200px;
}