.actionsContainer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.footerActions {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.bannerContent {
  border: 1px solid #cccccc;
  height: 600px;
  overflow: auto;
}

.buttonsContainer {
  display: flex;
  margin-bottom: 16px;
  gap: 8px;
}

.customBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.customAsterisk {
  color: red;
  margin-left: 5px;
}
