.actionsContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.footerActions {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.bannerContent {
  border: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 50px;
}

.buttonsContainer {
  display: flex;
  margin-bottom: 16px;
  gap: 8px;
}

.customBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.customAsterisk {
  color: red;
  margin-left: 5px;
}

.errorText {
  color: red;
  text-align: center;
  margin: 16px 0;
  font-weight: bold;
}
