.modalContainer {
  padding: 24px;
  background-color: white;
  width: 960px;
  height: 783px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}


.dataGridContainer {
  margin-top: 16px;
  flex-grow: 1;
}

.actionsContainer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.textField {
  flex-grow: 1;
}