.searchContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.dataGridContainer {
  margin-top: 16px;
  overflow: auto;
  margin-bottom: 16px;
}

.textField {
  flex-grow: 1;
}